* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#mainpage {
    flex: 1;
}

:root {
    --h1-size: 64px;
    --h1-weight: 900;
    
    --h2-size: 36px;
    --h2-weight: 900;

    --button-size: 36px;
    --button-weight: 600;

    --red-color: #C21A1A;
    --black-low-color: rgb(0,0,0,0.1);

    --radius-form: 20px;
    --stroke-form: 1px solid var(--black-low-color);
    --shadow-form: 10px 10px 10px 5px rgba(0, 0, 0, 0.35);
}

a {
    text-decoration: none;
    color: black;
        &:hover {
            color: var(--red-color)
        }
}

button {
    background-color: transparent;
    border: none;
}

.red-word-h1 {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    color: var(--red-color);
}

.red-word-h2 {
    font-size: 50px;
    font-weight: var(--h1-weight);
    color: var(--red-color);
}

.red-word-h3 {
    font-size: var var(--h2-size);
    font-weight: var(--h2-weight);
    color: var(--red-color); 
}

/* layout nav **************************************************************************************************/

nav {
    display: flex;
    font-size: var(--body-size);
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

#nav-left {
    width: 25%;
    img { 
        width: 120px;
        margin-left: 50px;
    }
}

#nav-middle {
    width: 50%;
    display: flex;
    justify-content: space-between;
    a {
        text-transform: uppercase;
    }
}

#nav-right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
        p {
            display: flex;
            font-size: 16px;
            font-style: italic;
            margin-right: 10px;    
            align-items: flex-end;        
        }

        img {
            width: 25px;
        }

        a {
            color: white;

            &:hover {
                color: var(--red-color);
            }
        }
}

.burger-menu {
    display: block;
    color: black;
    padding: 3px;
        &:hover {
            background-color: rgb(0, 0, 0, 0.3);
            border-radius: 2px;
        }
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    background: rgba(0, 0, 0, 0.9);
    padding: 50px;
    width: 20%;
    font-size: 1.5em;;
    gap: 50px;
    text-align: center;
    list-style-type: none; 
  }

  .menu.open {
    display: flex;
  }

/* layout footer ************************************************************************************************* */
footer {
    display: flex;
    font-size: var(--body-size);
    justify-content: space-between;
    margin: 15px;
}

#footer-left {
    width: 25%;
    img { 
        width: 120px;
        margin-left: 50px;
    }
}

#footer-middle {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#social-media {
    display: flex;
    justify-content: center;
        p {
            margin-right: 15px;         
        }

        img {
            width: 30px;
        }

        a {
            color: white;
            &:hover {
                color: var(--red-color);
            }


        }
}

#legals-mentions {
    display: flex;
    justify-content: center;
        a { 
            font-size: 12px;
        }

        p {
            font-size: 12px;
        }
}

#footer-right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
        p {
            display: flex;
            align-items: center;
            margin-right: 10px;   
            font-size: 18px;; 
            font-weight: 500;
        }
        
        img {
            width: 25px;
            display: flex;
        }
}

/* home *************************************************************************************************************** */

.frame-1 {
    background-image: url("../img/back/frame-1.png");
    background-size: cover; /* ou contain selon ton besoin */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 835px; 
} 

.category-icone {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 50px 120px;
        h2 {
        display: flex;
        align-items: center;
            font-size: var(--h2-size);
            font-weight: var(--h2-weight);
            margin-top: 50px;
        } 
        img {
            width: 130px;;
        }
}

.icone {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
}

.slogan {
    h2 {
    font-size: var(--h1-size);
    font-style: var(--h1-weight);
    text-transform: uppercase;
    text-align: center;
    margin: 100px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}

.connexion-form,
.inscription-form {
    padding: 50px;
    width: 580px;
    height: 470px;
    border-radius: var(--radius-form);
    border: var(--stroke-form);
    box-shadow: var(--shadow-form);
    width: fit-content;
    margin: auto;
    margin-bottom: 150px;
        h3 {
            font-size: var(--h2-size);
            font-weight: var(--h2-weight);
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }

        input {
            display: flex;
            border: none;
            border-bottom: 1px solid black;
        }

        label {
            margin-bottom: 20px;
        }
}

.content-form {
    margin-bottom: 30px;
}

.button-form {
    input {
        font-size: 16px;
        padding: 15px;
        border-radius: 8px;
        background-color: var(--red-color);
        border: none;
        color: white;
        font-weight: 500;
        margin: auto;
    }
}

.register-link {
text-align: center;
margin-bottom: 150px;
    h3 {
        font-size: 50px;
        font-weight: var(--h1-weight);
        margin-bottom: 30px;
    }

    button {
        padding: 20px;
        background-color: black;
        color: white;
        border-radius: 15px;
        font-weight: 700;
        font-size: 30px;
    }
}

/* register form ********************************************************************************************** */
.inscription-form {
    margin-top: 100px;
    width: 580px;
    height: 650px;;
        h1 {
            font-size: 50px;
            font-weight: var(--h1-weight);
            text-align: center;
            margin-bottom: 50px;
        }
}

/* list users ******************************************************************************************************** */

.list-user {
    text-align: center;
        h1 {
            font-size: var(--h2-size);
            font-weight: var(--h2-weight);
            margin-bottom: 25px;
        }
}
.user {
    margin-top: 5px;
        a {
            font-weight: 600;
            color: var(--red-color);
            
            &:hover {
            opacity: 0.7;
            }
        }
}